@{
    
}

<h1>Страница №1</h1>

@section First {
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Обязательная секция
            </div>
            <div class="panel-body">
                Текст обязательной секции
            </div>
        </div>
    </div>
}

@section Second {
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Вторая секция
            </div>
            <div class="panel-body">
                Секция не является обязательной
            </div>
        </div>
    </div>
}