@{

}

<h1>Страница №2</h1>

@section First {
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Обязательная секция
            </div>
            <div class="panel-body">
                Текст обязательной секции
            </div>
        </div>
    </div>
}